#supporters {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	.logo {
		height: 100px;
		padding: 10px 20px;

		img {
			height: 100%;
			max-width: 100%;
			object-fit: contain;
		}
	}
}
