.card-catalogue-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
	margin-top: 30px;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;

		&.three-columns {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (min-width: 1024px) {
		&.three-columns {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
