html {
	--moyo-font-deep-dark: #53504c;
	--moyo-font-dark: #6f6a66;
	--moyo-font-dark-fade: rgba(111, 106, 102, 0.3);
	--moyo-font-light: #ccc0c0;
	--moyo-font-light-fade: #ccc0c04d;

	--moyo-light: #f9f1e6;
	--moyo-highlight: #e95d00;

	--moyo-yellow: #ffc55f;
	--moyo-yellow-fade: #ffc55f33;
	--moyo-orange: #e7ad47;
	--moyo-orange-fade: #e7ac4733;
	--moyo-grey: #53504c;
}
