.header {
	position: sticky;
	top: 0;
	margin-bottom: 20px;
	line-height: normal;
	background-color: var(--moyo-light);
	z-index: 2;

	.header-main {
		padding: 15px 0 5px;
		font-size: 30px;
		font-weight: bold;
		color: var(--moyo-font-deep-dark);
		border-bottom: 1px solid var(--moyo-font-deep-dark);

		&.small {
			font-size: 18px;
		}
	}

	.header-misc {
		display: flex;
		justify-content: space-between;

		.subheader {
			margin-block: 8px;
			color: var(--moyo-font-dark);
			font-size: 18px;
		}

		.link {
			align-self: top;
			margin-top: 5px;
		}
	}

	@media (min-width: 768px) {
		.header-main {
			font-size: 45px;

			&.small {
				font-size: 30px;
			}
		}

		.header-misc .subheader {
			font-size: 22px;

			.link {
				font-size: 16px;
			}
		}
	}
}
